/*~~~~~~~~~~~~~~~ GOOGLE FONTS ~~~~~~~~~~~~~~~*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Titan+One&display=swap');

/*~~~~~~~~~~~~~~~ VARIABLES CSS ~~~~~~~~~~~~~~~*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: hsl(359, 100%, 35%);
  --primary-color-alt: hsl(359, 100%, 25%);
  --title-color: hsl(19, 16%, 15%);
  --text-color: hsl(19, 16%, 35%);
  --text-color-light: hsl(19, 8%, 55%);
  --body-color: hsl(36, 52%, 87%);
  --container-color: hsl(19, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Titan One", cursive;
  --subtitle-font: "Dancing Script", cursive;

  --font-2xl: 2.5rem;
  --font-xl: 2rem;
  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.938rem;
  --font-xm: 0.813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

@media screen and (min-width: 1024px) {
  :root {
    --font-2xl: 5rem;
    --font-xl: 3rem;
    --font-lg: 1.5rem;
    --font-md: 1.25rem;
    --font-sm: 1rem;
    --font-xm: 0.875rem;
  }
}
/*~~~~~~~~~~~~~~~ BASE ~~~~~~~~~~~~~~~*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--font-sm);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s;

}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*~~~~~~~~~~~~~~~ THEME ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~ Variables Dark theme ~~~~~~~~~~*/
body.dark-theme {
  --primary-color: hsl(359, 100%, 35%);
  --primary-color-alt: hsl(359, 100%, 25%);
  --title-color: hsl(19, 24%, 85%);
  --text-color: hsl(19, 16%, 65%);
  --body-color: hsl(0, 7%, 8%);
  --container-color: hsl(19, 10%, 5%);
}

/*~~~~~~~~~~~~~~~ REUSABLE CSS CLASSES ~~~~~~~~~~~~~~~*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-inline: 5rem 1rem;
}

.section__title {
  font-family: var(--title-font);
  font-size: var(--font-xl);
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: hsl(36, 100%, 96%);
  stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #401c10;
  stroke: #401c10;
  text-shadow: 6px 6px 0px #9f7060;
}

.section__subtitle {
  display: block;
  font-family: var(--subtitle-font);
  font-size: var(--font-lg);
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
  margin-top: 0.5rem;

}

.section__title,
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden;
  
}
/*~~~~~~~~~~~~~~~ HEADER & NAV ~~~~~~~~~~~~~~~*/

/* Show menu */

/* Change background header */

/* Active link */

/*~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~*/

/*  Common @media */

/*~~~~~~~~~~~~~~~ BUTTON ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ POPULAR ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ RECENTLY ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ NEWSLETTER ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ SCROLL UP ~~~~~~~~~~~~~~~*/

/* Show Scroll Up */
